.form-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.form{
    width: 533px;
    height: 566px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input{
    width: 472px;
    height: 65px;
    padding: 16px;
    margin: 0 30px 0 30px;
    text-align: center;
    border-radius: 9px;
    border: 1px solid #E4E4E7;
}

.alert{
    margin: 10px 30px 10px 30px;
    color: red;
}


.btn{
    width: 472px;
    height: 65px;
    border-radius: 9px;
    padding: 16px;
    background-color: #0D6EFD;
    color: white;
    margin: 40px 30px 30px 30px;
    transition: all 0.2s linear;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.btn:hover{
    background-color: #3f8cff;
    cursor: pointer;
}

.next-to{
    margin: 0 37px 30px 52px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #71717A;
}

.next-to:hover{
    text-decoration: underline;
    cursor: pointer;
}

span{
    font-weight: 600;
    line-height: 22px;
    color: #0D6EFD;
}