@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/font-poppins/Poppins-Regular.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/static/Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.title-page{
    font-weight: 500;
    font-size: 23.59px;
    line-height: 28.8px;
    color: #212529;
}

table{
    border-collapse: collapse;
}

.modal-add-project{
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-add-project .main-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 378px;
    border-radius: 8px;
    background-color: #FFFFFF;
    /* display: flex; */
    /* flex-direction: column  ; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  

.main-modal .modal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 18px;
    border-bottom: 1px solid#DEE2E6;
}

.close-modal{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.modal-head h2{
    font-weight: 500;
    font-size: 23.3px;
    line-height: 30px;
}

.form-add-project{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 10px;
    border-bottom: 1px solid#DEE2E6;
}

.label-add{
    font-size: 16px;
    font-weight: 50;
    line-height: 20px;
}

.input-add{
    padding: 10px 14px 10px 14px;
    height: 44px;
    border-style: none;
    border: 1px solid #dadada;
    border-radius: 8px;
}

.input-add:focus{
    border: 1px solid #DC3545;
    outline: none;
}

#description-add-project-input{
    width: 432px;
    height: 80px;
}

.form-add-project p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #DC3545;
}

.btn-modal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
    padding-bottom: 8px; 
    margin-top: 10px;
    margin-right: 100px;
    gap: 12px;
}

.btn-modal .btn-save{
    width: 58px;
    height: 37px;
    font-size: 16px;
    line-height: 24px;
    background-color: #0D6EFD;
    border-radius: 8px;
    padding: 6.5px 14.5px;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal .btn-save:hover{
    cursor: pointer;
    background-color: #3a89ff;
}

.btn-modal .btn-cancel{
    width: 58px;
    height: 37px;
    transition: all 0.2s linear;
    padding: 6.5px 14.5px;
    border-radius: 8px;
    background-color: #6C757D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal .btn-cancel:hover{
    cursor: pointer;
    background-color: #88939c;
}